<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkLAS3c8zea7pws1YlTMp80Fb7LNh7hw0</string>
	<key>GCM_SENDER_ID</key>
	<string>670090719479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>abj.login</string>
	<key>PROJECT_ID</key>
	<string>login-module-3d321</string>
	<key>STORAGE_BUCKET</key>
	<string>login-module-3d321.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670090719479:ios:a7b706b9cc4328961de3f2</string>
</dict>
</plist>